{
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true,
    "crypto": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "standard",
  "rules": {
    "strict": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
