@import "../resources/index.less";
@import "Components/_export.less";
@import "Containers/_export.less";

.app {
  font-size: 1.6rem;
  .text-and-bg-colors(@five, #ffffff);
  width: 22em;
  margin: 0 auto;
  padding: 1em;

  h1 {
    .margin-vertical(.5em);
    font-size: 1.85em;
  }

  h2 {
    font-size: 1.35em;
  }
}
