@import "starter.less";

@one: #D3061E;
@two: #E1EAF2;
@three: #992D18;
@four: #F46E00;
@five: #3F033D;

.section-border (@color: @five) {
  .border-vertical(.125em, solid, @color);
  margin: 1em auto;
}

:root {
  font-size: 10px;
}


body, h1, h2, h3, h4, h5, h6 {
  .reset();
}

body {
  font-family: system;
  background-color: @two;
}
